{% extends "layout.html" %}

{% block title %}
    Deposit
{% endblock %}

{% block main %}
    <form action="/deposit" method="post">
        <div class="form-group">
            <select autocomplete="off" class="form-control" name="flag">
                <<option disabled selected value>Credit Card</option>
                {% for flag in flags %}
                    <option value='{{ flag }}' >
                        {{ flag }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="cash" placeholder="Cash" min="1000" max="10000" step="1000" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Deposit</button>
    </form>
{% endblock %}
